@use "../../../shared/styles/mixins" as m;

.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 0;

  @include m.tablet {
    background-size: cover;
    background-position: 30% center;
  }
}
